# It's most important to edit this to match the namespace you use in geodesic:
export GEODESIC_NAMESPACE=__YOUR_NAMESPACE__
export AWS_PROFILE=${GEODESIC_NAMESPACE}-identity
use flake github:dudymas/cloud-nix#geodesix
export ATMOS_CLI_CONFIG_PATH=$PWD/rootfs/usr/local/etc/atmos