use flake github:dudymas/cloud-nix#geodesix

# It's most important to edit this to mactch the namespace you use in geodesic:
export GEODESIC_NAMESPACE=__YOUR_NAMESPACE__

export DOCKER_IMAGE=$GEODESIC_NAMESPACE
export AWS_PROFILE=${GEODESIC_NAMESPACE}-core-gbl-identity
